* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f9f7fc;
  --color-gray-200: #f3eefc;
  --color-gray-300: #c7c0da;
  --color-gray-400: #a396bf;
  --color-gray-500: #8172a2;
  --color-gray-600: #6b5f8a;
  --color-gray-700: #5a4f73;
  --color-gray-800: #4c4160;
  --color-gray-900: #3c334d;

  --color-primary-100: #f4ebff;
  --color-primary-200: #e1d0ff;
  --color-primary-300: #c9aaff;
  --color-primary-400: #b085f5;
  --color-primary-500: #9755f5;
  --color-primary-600: #7442c8;
  --color-primary-700: #5a32a3;
  --color-primary-800: #4c2889;
  --color-primary-900: #3c1d6b;
  
  --shadow-color: 0deg 0% 58%;
  --shadow:
  0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
  0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
  2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
  5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    letter-spacing: .01rem
  }

p {
    display: block;
    /* margin-top: 1em;
    margin-bottom: 1em; */
    margin-left: 0;
    margin-right: 0;
  }

h3, p {
  margin: 0.3rem 0 0 0;
}

html, body {
  height: 100%;
  /* height: 100vh;
  height: 100svh; */
  width: 100vw;
  margin: 0;
  background: linear-gradient(
    #efefef,
    #d4d4d4 
  );
}

main {
  height: 100vh;
  overflow: hidden;
}

.bg-click-area {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.todo-list {
  margin: 0 auto;
  width: 80%;
  height: 70vh;  
  /* background-color: #12a4ff; */
  overflow-y: scroll;
}

.fade-out {
  margin: 0 auto;
  width: 80%;
  height: 3rem;
  /* opacity: 0; */
  transition: opacity 0.5s;
  background: linear-gradient(
    rgba(239, 239, 239,0),
    #dbdbdb 
  );
  position: relative;
  bottom: 48px;
  z-index: 10;
}

.todo {
  margin: 0 auto;
  width: 80%;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--shadow);
  min-height: 100px;
  max-width: 40rem;
  z-index: 1;
  transition: 0.2s;
  z-index: 10;
  position: relative;
}
/* 
.todo:hover {
  background-color: rgb(243, 255, 248);
  transition: 0.2s
} */

.slctd-del {
  background-color: rgb(255, 203, 203);
}

.slctd-edit {
  background-color: rgb(220, 255, 220);
}

.todo-content {
  width: 85%;
  /* background-color: #12a4ff; */
}

.todo-actions {
  height: 85px;
  width: 15%;
  /* background-color: #12a4ff; */
}

.action-btn {
  border-radius: 50%;
  font-size: 1.8rem;
  color: rgb(2, 79, 146);
  background: linear-gradient(
    145deg,
    #8ee3ff,
    #12a4ff 
  );
  filter: saturate(50%) brightness(115%) drop-shadow(0 0 0rem #9ad8ff);
  transition: 0.2s
}

.add-btn:hover {
  width: 42px;
  height: 42px;
  font-size: 2.2rem;
  color: rgb(103, 255, 151);
  filter: saturate(100%) brightness(100%) drop-shadow(0 0 0.55rem #9ad8ff);
  transition: 0.2s
}

.input-container {
  /* height: 12rem; */
  width: 100vw;
  /* background-color: #c9aaff; */
  position: fixed;
  bottom: 0;
  margin-bottom: 2rem;
  z-index: 10;
}

.todo-input {
  width: 50%;
  min-width: 20rem;
  max-width: 30rem;
  /* height: 300px; */
  /* margin: 0 auto; */
  /* padding: 0 3rem; */
  border-radius: 8px;
  /* background-color: rgb(255, 184, 184) */
}

#todo-form {
  /* background-color: #7442c8; */
  height:9.4rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

#title, #todo-desc, button {
  /* width: 100%; */
  height: 3rem;
  border: none;
  border-radius: 40px;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  /* box-shadow: var(--shadow); */
}

#title, #todo-desc {
  width: 100%;
  box-shadow: var(--shadow);
}

#edit-form {
  position: relative;
}

#edit-form #title-edit {
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  letter-spacing: .01rem
}

#title-edit, #desc-edit, button {
  width: 100%;
  height: 1.5rem;
  border: none;
  /* border-radius: 40px; */
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  background-color: rgb(220, 255, 220);
}

#title-edit {
  margin: 0.5rem 0 0.5rem 0;
}

#todo-desc, #desc-edit {
  padding-right:3.4rem;
}

#desc-edit {
  margin: -0.3rem 0 0 0;
  padding: 0;
  position: relative;
  bottom: 0.9px;
}

label {
  margin-top: 12rem;
  position: absolute;
}


.add-btn {
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  bottom: 1.25rem;
  font-size: 1.8rem;
  color: rgb(2, 79, 146);
  background: linear-gradient(
    145deg,
    #8ee3ff,
    #12a4ff 
  );
  filter: saturate(50%) brightness(115%) drop-shadow(0 0 0rem #9ad8ff);
  transition: 0.2s
}

.add-btn:hover {
  width: 42px;
  height: 42px;
  right: 0.96rem;
  bottom: 1.21rem;
  font-size: 2.2rem;
  color: rgb(103, 255, 151);
  filter: saturate(100%) brightness(100%) drop-shadow(0 0 0.55rem #9ad8ff);
  transition: 0.2s
}

.edit-btn {
  border-radius: 50%;
  position: absolute;
  left: 19.95rem;
  bottom: -0.7rem;
  font-size: 1.8rem;
  color: rgb(2, 79, 146);
  background: linear-gradient(
    145deg,
    #8ee3ff,
    #12a4ff 
  );
  filter: saturate(50%) brightness(115%) drop-shadow(0 0 0rem #9ad8ff);
  transition: 0.2s
}

.edit-btn:hover {
  left: 20rem;
  bottom: -0.7rem;
  font-size: 2.2rem;
  color: rgb(103, 255, 151);
  filter: saturate(100%) brightness(100%) drop-shadow(0 0 0.55rem #9ad8ff);
  transition: 0.2s
}

.error-msg {
  color: rgb(255, 75, 75);
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.show-msg {
  bottom: -0.5rem;
  transition: 0.1s;
}

.hide-msg {
  bottom: -2.5rem;
  transition: 0.1s;
}


button {
  width: 40px;
  height: 40px;
}

.batch-del-btn {
  position: absolute;
  z-index: 10;
}

.hide {
  bottom: 100px;
  right: -30%;
  transition: 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}

.show {
  bottom: 100px;
  right: 5%;
  transition: 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}

/* util classes */

.w100 {
  width: 100%;
}

.h100 {
  height: 100vh;
}

.cf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cfc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cfs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fccfs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.fcsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fcsbc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}